<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Lego Collection</title>
  </head>
  <body>
    <!-- navigation -->
    <%- include('partials/navbar', {page: '/lego/sets'}) %>
    <!-- navigation ends -->

    <div class="container mx-auto">
      <!-- hero section -->
      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Collection</h1>
            <p class="py-6">
              Browse the entire collection. Click the theme to filter by themes
              as us:
              <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-xs"
                >Technic</a
              >
              <a
                href="/lego/sets?theme=Classic%20Town"
                class="btn btn-primary btn-xs"
                >Classic Town</a
              >
              <a
                href="/lego/sets?theme=Basic%20Set"
                class="btn btn-primary btn-xs"
                >Basic Set</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- hero section ends -->

      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Theme</th>
              <th>Year</th>
              <th>Parts</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% sets.forEach(set=>{ %>
            <tr>
              <td>
                <div class="avatar">
                  <div class="w-24 rounded">
                    <img src="<%= set.img_url %>" />
                  </div>
                </div>
              </td>
              <td><%= set.name %></td>
              <td>
                <a
                  class="btn btn-link"
                  href="/lego/sets?theme=<%= set.Theme.name %>"
                >
                  <%= set.Theme.name %></a
                >
              </td>
              <td><%= set.year %></td>
              <td><%= set.num_parts %></td>
              <td>
                <a class="btn btn-link" href="/lego/sets/<%= set.set_num %>">
                  details</a
                >
                <% if(session.user){ %>
                <a class="btn btn-link" href="/lego/editSet/<%= set.set_num %>">Edit</a>
                <% } %>
                <a class="btn btn-link" href="/lego/deleteSet/<%= set.set_num %>">
                  Delete</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
